TodoWebServiceJavaClient/src/META-INF/wsdl/localhost_14177/TodoService.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:14177/TodoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTodoServer"/><xs:element name="AddTodo"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="todo" nillable="true" type="q1:Todo" xmlns:q1="http://schemas.datacontract.org/2004/07/WcfTodoServer"/></xs:sequence></xs:complexType></xs:element><xs:element name="AddTodoResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetAllTodos"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetAllTodosResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetAllTodosResult" nillable="true" type="q2:ArrayOfTodo" xmlns:q2="http://schemas.datacontract.org/2004/07/WcfTodoServer"/></xs:sequence></xs:complexType></xs:element><xs:element name="DeleteTodo"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Id" type="xs:long"/></xs:sequence></xs:complexType></xs:element><xs:element name="DeleteTodoResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="UpdateTodo"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="todo" nillable="true" type="q3:Todo" xmlns:q3="http://schemas.datacontract.org/2004/07/WcfTodoServer"/></xs:sequence></xs:complexType></xs:element><xs:element name="UpdateTodoResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element></xs:schema>