TodoWebServiceJavaClient/xml-resources/web-service-references/TodoService_1/wsdl/localhost_14177/TodoService.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfTodoServer" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfTodoServer"><xs:complexType name="Todo"><xs:sequence><xs:element minOccurs="0" name="DueDate" type="xs:dateTime"/><xs:element minOccurs="0" name="Id" type="xs:long"/><xs:element minOccurs="0" name="IsDone" type="xs:boolean"/><xs:element minOccurs="0" name="Task" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Todo" nillable="true" type="tns:Todo"/><xs:complexType name="ArrayOfTodo"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Todo" nillable="true" type="tns:Todo"/></xs:sequence></xs:complexType><xs:element name="ArrayOfTodo" nillable="true" type="tns:ArrayOfTodo"/></xs:schema>