Todo-List-WebService-Java-client/xml-resources/web-service-references/Service1/wsdl/localhost_55499/Service1.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TodoList_WebService_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/TodoList_WebService_Server"><xs:complexType name="CompositeType"><xs:sequence><xs:element minOccurs="0" name="BoolValue" type="xs:boolean"/><xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="CompositeType" nillable="true" type="tns:CompositeType"/><xs:complexType name="Todo"><xs:sequence><xs:element minOccurs="0" name="DueDate" type="xs:dateTime"/><xs:element minOccurs="0" name="Id" type="xs:long"/><xs:element minOccurs="0" name="IsDone" type="xs:boolean"/><xs:element minOccurs="0" name="Task" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Todo" nillable="true" type="tns:Todo"/><xs:complexType name="ArrayOfTodo"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Todo" nillable="true" type="tns:Todo"/></xs:sequence></xs:complexType><xs:element name="ArrayOfTodo" nillable="true" type="tns:ArrayOfTodo"/></xs:schema>